---
import Section from "@/components/Section.astro";
import {education,cvLang} from '@cv-es'
import {getPeriod} from '@/utils'
---

<Section title={education.title}>
    <ul>
        {
            education.description.map(({institution, startDate, endDate, studyType, courses})=> {
                const period = getPeriod(startDate,endDate,cvLang.code)
                return (
                    <li>
                        <article>
                            <header>
                                <div>
                                    <h3>{studyType}</h3> 
                                    <h4>{institution}</h4>
                                </div>
                                <time >
                                    {period}
                                </time>
                            </header>
                            <footer>
                                <p class="highlights">{
                                    courses.join(', ')
                                }</p>
                            </footer>
                        </article>
                    </li>
                )
            })
        }
    </ul>

</Section>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    time {
        font-size: .8rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .highlights{
        font-weight: 600;
    }

   

</style>