---
import Section from '@/components/Section.astro'
import photoPrint from '@/images/profile_sin_BG.webp'
import photoNoPrint from '@/images/profile_BG_celeste.webp'
import Mail from '@/icons/Mail.astro'
import Phone from '@/icons/Phone.astro'
import WorldMap from '@/icons/WorldMap.astro'
import LinkedIn from '@/icons/LinkedIn.astro'
import GitHub from '@/icons/GitHub.astro'
import {cv} from '@cv'
type Language = keyof typeof cv
const lang: Language = Astro.props.lang
const {name, nickName, label, location, profiles, phone, email} = cv[lang].basics
const {city, country} = location

const SOCIAL_ICONS: Record<string, any> = {
    "GitHub-new":GitHub,
    "GitHub-old": GitHub,
    LinkedIn
}

const linkedInInfo = profiles.find(({network}:{network:string})=> network === 'LinkedIn')?.url


const titles = {
    es: {
        email: `Enviar un correo electrónico a ${nickName} al correo ${email}`,
        phone: `Llamar por teléfono a ${nickName} al número ${phone}`,
        profiles: `Visitar el perfil de ${nickName} en `
    },
    en: {
        email: `Send email to ${nickName} to the  address ${email}`,
        phone: `Phone call to ${nickName} to the number ${phone}`,
        profiles: `Visit the profile of ${nickName} in `
    }
}
---

<Section >
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span class="worldIcon">
                <WorldMap/>
                {city}, {country}
            </span>
            <footer>
                <div class="print">
                <span>{email}</span>
                <span>{phone}</span>
                <span>{linkedInInfo}</span>

                </div>
                <div class="no-print">
                {
                    email && (
                        <a href={`mailto:${email}`}
                        title={titles[lang].email}
                        target="_blank"
                        rel="noopener noreferrer"
                        >
                        <Mail/>
                        </a>
                    )
                }
                {
                    phone && (
                        <a href={`tel:${phone}`}
                        title={titles[lang].phone}
                        target="_blank"
                        rel="noopener noreferrer"
                        >
                        <Phone/>
                        </a>
                    )
                }
                {
                    profiles.map(({network,url })=> {
                        const Icon = SOCIAL_ICONS[network]
                        return (
                            <a
                            href={url}
                            title={`${titles[lang].profiles} ${network}`}
                            target="_blank"
                            rel="noopener noreferrer"
                            >
                            <Icon/>
                            </a>
                        )
                    })
                }
                </div>
            </footer>
        </div>
        <img class={`img no-print`} src={photoNoPrint.src} alt={name} width='100' height='100' />
        <img class={`img print`} src={photoPrint.src} alt={name} width='100' height='100' />
       
    </div>
</Section>

<style>

    h2 {
        color: #444;
        font-size: 1.2rem;
        text-wrap: balance;
    }

    .worldIcon {
        color: #666;
        display: flex;
        align-items: center;
        gap: .25rem;
        font-size: .85rem;
        letter-spacing: -0.05rem ;

    }

    .no-print {
        display: flex;
        gap: 8px;
        margin-top: 8px;
    }

    footer a {
        color: #777;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eee;
        padding: 4px;
        height: 32px;
        width: 32px;
        border-radius: 6px;
        transition: all .3s ease;
    }

    footer a:hover {
        background: #eee;
        border: 1px solid #ccc;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .img {
        object-fit: cover;
        border-radius: 16px;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: .5rem;

    }

    .print {
        display: none;
    }

    @media print {
        .print {
            display: block;
        }

        .print span{
        display: block;
        font-size: .75rem;
        color: #444;
    }
        .no-print {
            display: none;
        }
    }

</style>