---
import FileDownload from '@/icons/FileDownload.astro';
import Print from '@/icons/Print.astro';
import ThemeMode from './ThemeMode.astro';
import Language from './LanguageButton.astro';
import { i18n } from '@/i18n.ts';
const { lang } = Astro.props;
const { download, print } = i18n[lang as keyof typeof i18n];
---

<header class="no-print">
  <nav>
    <button class="menu-button" id="print" title={print}>
      <Print />
    </button>

    <button title={download}>
      <a
        class="menu-button"
        title={download}
        href=`./public/Javier Gonzalez - CV-${lang}.pdf`
        download="Javier Gonzalez - CV.pdf"
        target="_blank"
      >
        <FileDownload />
      </a>

      <ThemeMode lang={lang} />

      <Language lang={lang} />
    </button>
  </nav>
  <style>
    header {
      background-color: var(--bg-menu);
      padding: 0.5rem 1rem;
      position: fixed;
      width: 100%;
      height: 3.125rem;
    }

    nav {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      gap: 8px;
    }

    .menu-button {
      color: var(--bg-menu-button);
    }
  </style>

  <script>
    const $print = document.querySelector('#print');
    $print?.addEventListener('click', () => {
      window.print();
    });
  </script>
</header>
